/* Don't import "tailwindcss/preflight" to prevent CSS reset */
@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);

#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body {
  font-family: sans-serif;
  padding: 20px;
}
.knockout-app {
  padding: 20px;
  border: 2px dashed #ff9900;
  max-width: 400px;
}
.knockout-data {
  background: #fff3e0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.react-component,
.react-component > :first-child {
  display: contents;
}
.react-component:empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  background: #b4b4b4 center center no-repeat;
  border-radius: 8px;
  animation: react-component__skeleton 2s infinite linear;
}

@keyframes react-component__skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.active {
  color: #fb6161;
}
